@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h2 class="display-4">Witam!</h2>
        
    </div>
    <div>
        <a><h4>Aplikacja ASP.NET wyświetlająca aktualny czas komputera klienta oraz czas komputera serwera.</h4></a>
    </div>
